header {padding: 0.1cm 1cm;
          background-color: #4682B4;}
footer {padding: 0.02cm 0.5cm;
          background-color: #4682B4;}
       article {background-color: #87CEFA}
	   p.teste {background-color #778899}
nav {background-color: #ADD8E6;
		     float: left;}
		img {
    float: left;
			
}
